<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="~/css/deck.min.css" rel="stylesheet" />
</head>
<body>    
    @RenderBody()
    <script src="~/js/deck.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>